body {
    background-color: #FE9D8D;
    font-family: "Press Start 2P", sans-serif;
}

h1 {
    color: #373C99;
}

.landingTopContainer {
    display: flex;
    justify-content: space-between;
}

.landingLeft {
    width: 20%;
}

.landingTitleContainer {
    justify-content: space-between;
}

.leaderSurfboardContainer {
    display: flex;
}

#mainGameContainer {
    margin: 5%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.sky {
    border: 1px solid #373C99;
    height: 50vh;
}

.waves {
    border: 1px solid #373C99;
    height: 20vh;
}

#avatar {
    width: 10px;
    height: 10px;
    background-color: #373C99;
    position: relative;
    top: 98.5%;
}

#displaySplashInstructionsContainer {
    position: absolute;
    padding: 5%;
    margin-right: 55px;
    /*height: 150vh;*/
}

#leaderSurfboard {
    border-radius: 10px;
    background-color: #373C99;
    color: #F0EFF5;
    width: 150px;
    margin-right: 50px;
}

.startGameButtonContainer {
    display: flex;
    justify-content: center;
}

#startGameButton {
    border-radius: 10px;
    background-color: #373C99;
    color: #F0EFF5;
    font-size: 1.5rem;
    width: 150px;
    height: 60px;
}